<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv5ESdjYaVXXpax8Yps_iWr1D_HlGpsuc</string>
	<key>GCM_SENDER_ID</key>
	<string>443729581845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alodelivery</string>
	<key>PROJECT_ID</key>
	<string>alodelivery974</string>
	<key>STORAGE_BUCKET</key>
	<string>alodelivery974.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443729581845:ios:4366fab3cc110d1e887b1c</string>
</dict>
</plist>